<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="wxMoldeoControlsTestDialog">
		<title>Moldeo Controls Test</title>
		<size>966,485</size>
		<bg>wxSYS_COLOUR_APPWORKSPACE</bg>
		<id_arg>0</id_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Moldeo Controls</label>
			<pos>8,8</pos>
			<font>
				<size>20</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wxButton" name="ID_BUTTONCLOSE" variable="ButtonCLose" member="yes">
			<label>Close</label>
			<default>1</default>
			<pos>440,448</pos>
			<handler function="OnButtonCloseClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxSlider" name="ID_SLIDER4" subclass="wxMoRotaryCtrl" variable="Slider4" member="yes">
			<pos>48,144</pos>
			<size>32,32</size>
		</object>
		<object class="wxSlider" name="ID_SLIDER5" subclass="wxMoRotaryCtrl" variable="Slider5" member="yes">
			<pos>88,144</pos>
			<size>32,32</size>
		</object>
		<object class="wxSlider" name="ID_SLIDER3" subclass="wxMoRotaryCtrl" variable="Slider3" member="yes">
			<pos>128,136</pos>
			<size>56,56</size>
		</object>
		<object class="wxSlider" name="ID_SLIDER2" subclass="wxMoRotaryCtrl" variable="Slider2" member="yes">
			<pos>8,144</pos>
			<size>32,32</size>
		</object>
		<object class="wxSlider" name="ID_SLIDER1" subclass="wxMoLevelCtrl" variable="Slider1" member="yes">
			<pos>104,72</pos>
			<size>128,16</size>
		</object>
		<object class="wxSlider" name="ID_VALUECOLORLEVELCTRL" subclass="wxMoColorLevelCtrl" variable="ValueColorLevelCtrl" member="yes">
			<pos>304,184</pos>
			<size>120,16</size>
		</object>
		<object class="wxSlider" name="ID_SATURATIONCOLORLEVELCTRL" subclass="wxMoColorLevelCtrl" variable="SaturationColorLevelCtrl" member="yes">
			<pos>304,160</pos>
			<size>120,16</size>
		</object>
		<object class="wxSlider" name="ID_HUECOLORLEVELCTRL" subclass="wxMoColorLevelCtrl" variable="HueColorLevelCtrl" member="yes">
			<pos>304,136</pos>
			<size>120,16</size>
		</object>
		<object class="wxSlider" name="ID_ALPHACOLORLEVEL" subclass="wxMoColorLevelCtrl" variable="AlphaColorLevelCtrl" member="yes">
			<pos>304,280</pos>
			<size>120,16</size>
		</object>
		<object class="wxSlider" name="ID_BLUECOLORLEVELCTRL" subclass="wxMoColorLevelCtrl" variable="BlueColorLevelCtrl" member="yes">
			<pos>304,256</pos>
			<size>120,16</size>
		</object>
		<object class="wxSlider" name="ID_GREENCOLORLEVELCTRL" subclass="wxMoColorLevelCtrl" variable="GreenColorLevelCtrl" member="yes">
			<pos>304,232</pos>
			<size>120,16</size>
		</object>
		<object class="wxSlider" name="ID_REDCOLORLEVELCTRL" subclass="wxMoColorLevelCtrl" variable="RedColorLevelCtrl" member="yes">
			<pos>304,208</pos>
			<size>120,16</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>wxMoLevelCtrl</label>
			<pos>8,72</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXTCOLORLEVELCTRL" variable="StaticTextColorLevelCtrl" member="yes">
			<label>wxMoColorLevelCtrl</label>
			<pos>312,104</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>wxMoRotaryCtrl</label>
			<pos>8,112</pos>
		</object>
		<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl2" member="yes">
			<value>0</value>
			<pos>200,152</pos>
			<size>53,21</size>
			<handler function="OnSpinCtrl1Change" entry="EVT_SPINCTRL" />
		</object>
		<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl1" member="yes">
			<value>0</value>
			<pos>240,64</pos>
			<size>53,21</size>
			<handler function="OnSpinCtrl1Change" entry="EVT_SPINCTRL" />
		</object>
		<object class="wxButton" name="ID_BUTTONOK" variable="ButtonOK" member="yes">
			<label>OK</label>
			<pos>352,448</pos>
			<handler function="OnButtonCloseClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>wxMoTimelineRulerCtrl</label>
			<pos>8,208</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>wxMoldeoObjectCanvas</label>
			<pos>464,16</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>wxMoTimelineBandCtrl</label>
			<pos>8,280</pos>
		</object>
		<object class="wxSlider" name="ID_SLIDER6" subclass="wxMoTimelineRulerCtrl" variable="Slider6" member="yes">
			<pos>8,232</pos>
			<size>264,24</size>
		</object>
		<object class="wxSlider" name="ID_SLIDER7" subclass="wxMoTimelineBandCtrl" variable="Slider7" member="yes">
			<pos>8,304</pos>
			<size>264,24</size>
		</object>
		<object class="wxPanel" name="ID_PANEL1" subclass="wxMoldeoObjectCanvas" variable="ConsoleCanvas" member="yes">
			<pos>464,40</pos>
			<size>344,272</size>
			<object class="wxPanel" name="ID_EFFECT2" subclass="wxMoldeoObjectCtrl" variable="Effect2" member="yes">
				<pos>216,40</pos>
				<size>112,184</size>
				<object class="wxSlider" name="ID_MOLDEOPIN2" subclass="wxMoldeoPinCtrl" variable="Pin2" member="yes">
					<pos>8,32</pos>
				</object>
			</object>
			<object class="wxPanel" name="ID_EFFECT1" subclass="wxMoldeoObjectCtrl" variable="Effect1" member="yes">
				<pos>8,8</pos>
				<size>160,136</size>
			</object>
			<object class="wxPanel" name="ID_EFFECT3" subclass="wxMoldeoObjectCtrl" variable="Effect3" member="yes">
				<pos>24,176</pos>
				<size>184,88</size>
				<object class="wxSlider" name="ID_PIN1" subclass="wxMoldeoPinCtrl" variable="Pin1" member="yes">
					<pos>32,40</pos>
					<size>112,24</size>
				</object>
			</object>
		</object>
		<object class="wxPanel" name="ID_PANEL2" subclass="wxMoldeoObjectCanvas" variable="Panel1" member="yes">
			<pos>464,320</pos>
			<size>344,88</size>
			<object class="wxPanel" name="ID_PANEL3" subclass="wxMoldeoObjectCtrl" variable="Panel2" member="yes">
				<pos>24,24</pos>
				<size>120,48</size>
			</object>
		</object>
		<object class="wxPanel" name="ID_COLOURPANEL" subclass="wxMoColourPanel" variable="ColourPanel" member="yes">
			<pos>304,304</pos>
			<size>120,28</size>
		</object>
		<object class="wxNotebook" name="ID_AUINOTEBOOK" subclass="wxAuiNotebook" variable="AuiNotebook" member="yes">
			<pos>24,344</pos>
			<size>304,128</size>
			<extra_code>AuiNotebook-&gt;SetArtProvider( new wxMoAuiTabArt());</extra_code>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel3" member="yes" />
				<label>Project</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL5" variable="Panel4" member="yes" />
				<label>Data</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL6" variable="Panel5" member="yes" />
				<label>Custom</label>
			</object>
		</object>
	</object>
</wxsmith>
